body {
    background-image: url(../images/barkacsaruhaz-min.jpg);
    background-size: cover;
    
}

.tartalmacska{
    background-color: rgba(116, 104, 86, 0.5);
    color: seashell;

}
.pcske{
    color: antiquewhite;
}
.pcske2{
    color:rgba(235, 226, 226, 0.678)
}

h1, h2{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 600;
}

.h2bemut{
    text-align: right;
    padding-right: 15%;
    
}
.h2bemut-padding{
    padding-left: 10%;
}
